<header class="header" id="header">
  <div class="information-block">
    <div class="logo"><img src="img/logo.png" alt="logo"></div>
    <div class="content">
      <h1>Превратите уездный город</h1>
      <h1 class="text-center">в столицу <br> земного шара</h1>
      <p>Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
      <div class="buttons">
        <a href="#stages"><button class="btn-black">Поддержать шахматную мысль</button></a>
        <a href="#participants"><button class="btn-transparent">Подробнее о турнире</button></a>
      </div>
    </div>
    <div class="ticker" id="ticker">&nbsp; &#8226; Дело помощи утопающим — дело рук самих утопающих!&nbsp; &#8226;
      Шахматы двигают вперед не
      только культуру, но и экономику!&nbsp; &#8226; Лед тронулся, господа присяжные заседатели!&nbsp; &#8226; Дело
      помощи утопающим — дело рук
      самих утопающих!&nbsp; &#8226; Шахматы двигают вперед не только культуру, но и экономику!&nbsp; &#8226; Лед
      тронулся, господа присяжные заседатели!</div>
  </div>
</header>